:host {
    background-color:white;
    border-radius: 12px;
    outline: 1px solid #eff1f2;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .box1 {
        padding: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 30%;
        background-color: #e70000; /* ou outro, conforme necessário */
        color: white;
    }
    
    .box2 {
        background-color: aquamarine;
    }

    .box3 {
        background-color: violet;
    }

    .box4 {
        background-color: thistle   ;
    }

}